@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #7873f5;
  --color1: #4845ae;
  --color2: #1B1A55;
  --color3: #070F2B;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-color1: var(--color1);
  --color-color2: var(--color2);
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}
