@import "tailwindcss";

:root {
  --background: #070F2B;
  --foreground: #535C91;
  --color1: #9290C3;
  --color2: #1B1A55;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-color1: var(--color1);
  --color-color2: var(--color2);
 

}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}
