@media (max-width:480px) {
    .login{
        padding: 3px;
        font-size: 12px;
    }
    .title{
        font-size: 18px;
    }
    #logo{
        height: 30px;
        width: 30px;
    }
    #but{
        font-size: 10px;
        
    }
    #drop *{
        font-size: 10px;
    }
   }
/* @media (max-width:480px) {
    .title{
        font-size: 18px;
    }
    #logo{
        height: 30px;
        width: 30px;
    }
   } */